// This defines theme-specific variables.
@mixin theme-variables($theme) {
  @if $theme =='light' {
    // Light theme colours.
    --primary-color: #e30613; // Contrast ratio: 4.73:1
  }

  @else if $theme =='dark' {
    // Dark theme colours.
    --primary-color: #f7424e; // Contrast ratio: 11.06:1
  }
}

// Apply light theme variables by default.
:root {
  @include theme-variables('light');
}

// Apply dark theme variables when dark theme is explicitly set.
[data-theme='dark'] {
  @include theme-variables('dark');
}

// Apply dark theme variables when user's system prefers dark mode
// and the theme is not explicitly set to light.
@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    @include theme-variables('dark');
  }

  :root:not([data-theme="light"]) .socials .social:hover>img {
    filter: invert(1);
  }
}

a:hover {
  color: #fff;
  background-color: var(--primary-color);
}

::selection {
  color: #fff;
  background-color: var(--primary-color);
}

#banner-container-home #image-container-home {
  padding-inline-start: 4rem;
}

@media only screen and (max-width: 600px) {
  #banner-container-home #image-container-home {
    padding-inline-start: 0;
    width: 100%;
    max-width: none;
  }
}